# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive files
*.pem

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
env/

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Logs and temp files
*.log
*.tmp
*.bak

#folders
output/
tmp/
